@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #bdbdbd;
}
.home-page{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.navigation{
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    z-index: 9;
}
.logo{
    height: inherit;
}
.logo img{
  height: 150px;
  position: absolute;
}
.list-items{
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 100px;
}
.list-items li{
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    font: normal 500 15px / 19px "Roboto", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}
.list-items li a{
    text-decoration: none;
    color: #333333;
    font-size: 20px;
}
.header-image{
    width: 100%;
    height: 500px;
    background-color: black;
    margin-bottom: 50px;
}
.header-image img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.page-heading {
    width: 100%;
}
.page-heading h2{
text-align: center;
font-size: 35px;
font-weight: 700;
}
.page-heading p{
    max-width: 70%;
    margin: 0 auto;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 100px;
    padding-top: 20px;
    text-align: justify;
}
.destination-cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards{
    width: 48%;
    position: relative;
    border-radius: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.card-image{
    width: 100%;
    position: relative;
}
.card-image img{
    width: 100%;
    display: block;
    object-fit: contain;
}
.card-content h4{
    color: white;
    background-color: #e17803;
    padding: 10px;
    max-width: 200px;
    font-size: 16px;
}
.card-content p{
    text-align: justify;
    font-size: 20px;
}

.divider{
    width: 50%;
    height: 3px !important;
    background-color: #e17803 !important;
    margin: 0 auto;
}
@media(max-width: 576px){
    .cards{
        width: 100%;
    }
}
.carousel-area{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.safari-carousel{
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    background-color: black;
}
.safari-carousel img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.divider2{
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: relative;

}

.tent-div{
    width: 95%;
    margin: 0 auto;
    margin-top: 50px; 
}
.tent-div h3{
    text-align: justify;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.tent-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    
}

.tent-items li{
    list-style-type: none;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tent-items li img{
    width: 20px;
}
@media(max-width: 576px){
    .tent-items{
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    }
    .tent-items li{
        width: 100%;
    }
}
.tent-card{
    width: 100%;
    height: 400px;
    position: relative;
    margin-bottom: 10px;
}
.tent-card img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.activity-tab{
    width: 95%;
    margin: 0 auto;
}
.activity-image{
    height: 350px;
    margin-bottom: 20px;
    padding: 10px;
}
.activity-image img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.aboutus-area{
    width: 80%;
    margin: 0 auto;
    background-color: #e0e0e0;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}
@media(max-width: 576px){
    .aboutus-area{
        width: 95%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
.camp-heading{
    text-align: center;
}
.aboutuswords p{
text-align: justify;
font-size: 20px;
}
.aboutusimage{
    width: 100%;
}
.aboutusimage img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.nav-link{
    position: relative;
    padding: 20px 0px;
}
.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #e17803;
  }
  .nav-link-ltr::before {
    width: 100%;
    bottom: 10px;
  }
  
  
  
  .contactus-area{
      width: 60%;
      margin-top: 100px;
      margin: 0 auto;
      margin-bottom: 100px;
background-color: #fff;
padding: 50px;
  }
  .contactus-area h5{
      max-width: 400px;
      margin: 0 auto;
      padding-bottom: 30px;
  }
  @media(max-width: 576px){
      .contactus-area{
          width: 90%;
          padding: 20px;
      }
      .navigation img{
          height: 100px;
      }
  }
  .footerintro{
      display: flex;
      flex-direction: column;
  }
  .footerintro img{
      width: 100px;
  }
  .side{
      height: inherit;
      width: 80px;
      background-color: #e17803;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
  .side img{
      width: 30px;
  }
.sidenav > .lists{
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
  .sidenav li a{
      font-weight: 800 !important;
      text-transform: uppercase !important;
  }
.divider3{
    width: 100%;
    height: 1px;
    background-color: #bdbdbd;
}
.footer{
    width: 100%;
    padding: 20px;
    background-color: #e0e0e0;
}
.footer h3{
    font-size: 60px;
    font-weight: 800;
    color: #e17803;
}
.fwords li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 20px;
}
.fwords img{
    width:
    20px;
}
.fwords h5{
    color: #e17803;
}
.footer-content{
    padding-top: 30px;
}





















