@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}
nav{
    background-color: black !important;
    opacity: 0.8;
}

nav ul li a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
nav ul li a:hover{
    color: #e17803;
}
nav img{
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
}
.divider-nav{
    width: 1px;
    height: 100%;
    position: relative;
    background-color: white;
}
.home-carousel-area{
width: 100%;
height: 100vh;
position: relative;
}
.home-carousel-area > .carousel-inner{
    width: 100%;
    height: 100vh;
}
.carousel-inner > .carousel-item{
    width: 100%;
    height: 100vh;

}
.carousel-item img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.dropdown-menu{
    background-color: #212121;
    color: white;
}
.dropdown-menu a{
    color: white;
}
.camp-photo{
    width: 100%;
    height: 495px;
    position: relative;
}
.camp-photo img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.camp-details{
    width: 100%;
    padding-top: 80px;
}
.camp-heading{
    text-align: center;
    padding-bottom: 40px;
    font-weight: 800;
}
.camp-description{
    width: 70%;
    margin: 0 auto;
    background-color: #eeeeee;
    padding: 50px;
    margin-bottom: 100px;
}
.camp-description p{
    font-size: 17px;
    letter-spacing: 2px;
    text-align: justify;
}
.camp-activity{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}
.camp-activity-words{
    flex: 1;
    padding: 20px;
}
.camp-activity-words p{
    text-align: justify;
}
.camp-activity-photo{
    flex: 1;
    padding: 5px;
    height: 400px;
}
.camp-activity-photo img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}
.activity-desc{
    max-width: 600px;
    text-align: justify;
    margin: 0 auto;
    padding-bottom: 50px;
    line-height: 25px;
}
.tent-facilities{
    width: 70%;
    margin: 0 auto;
}
.facilitylist{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.facilitylist li{
    list-style-type: none;
    text-align: start;
padding-bottom: 20px;
font-weight: 700;
}
.facilityphoto{
    width: 20px;
    margin-right: 20px;
}
.activity-photo{
    width: 90%;
    margin: 0 auto;
}
.photos-act{
    height: 400px;
    margin-bottom: 35px;
}
.photos-act img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
}